@model Curse.Models.ViewModels.CreatePlayerViewModel

@{
    ViewBag.Title = "Create New Player";
}

<h2>Create New Player</h2>

@using (Html.BeginForm("Create", "Players", FormMethod.Post, new { enctype="multipart/form-data" }))
{
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(x => x.Name)
        @Html.EditorFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    
    <div>
        @Html.LabelFor(x => x.TeamId)
        @Html.DropDownListFor(x => x.TeamId, Model.TeamSelectList, "-- Select Team--")
        @Html.ValidationMessageFor(x => x.TeamId)
    </div>
    
       <div>
        @Html.LabelFor(x => x.RBI)
        @Html.EditorFor(x => x.RBI)
        @Html.ValidationMessageFor(x => x.RBI)
    </div>
    
       <div>
        @Html.LabelFor(x => x.HomeRuns)
        @Html.EditorFor(x => x.HomeRuns)
        @Html.ValidationMessageFor(x => x.HomeRuns)
    </div>
    
       <div>
        @Html.LabelFor(x => x.Average)
        @Html.EditorFor(x => x.Average)
        @Html.ValidationMessageFor(x => x.Average)
    </div>
    
    <div>
        <input type="file" name="avatar" />        
    </div>
    
    <div>
        <input type="submit" value="Save" />
    </div>
}
